body{
    background-image: url(img2.jpg);
    background-size: cover;
}
h4{
    color:bisque;
    text-align: center;
}
.loginpage{
    background-color: rgb(255, 0, 255,0.2);
    width:400px;
    height:330px;
    margin-left: 450px;
    margin-top:150px;
}
.input{
    width:100%;
    margin:10px;
}
.input .textlabel{
    font-size: 15px;
    color:bisque;
    margin-right:20px;
   
}
.input input{
    width:90%;
    margin-bottom:5px;
    padding:3px;
}

.input input:hover{
    box-shadow: inset 0px 0px 5px red;
    }

.radio{
    color:bisque;
    font-size: 15px;
    margin-left:5px;
    accent-color: rgb(90, 14, 49);
}
.btn{
    text-align: center;
    margin-top: 5px;
    margin-right:50px;
}
button{
    background-color:bisque;
    font-size: 10px;
    padding:5px;
    margin-left:10px;
 }
 button:nth-child(1):hover{
    box-shadow:0px 0px 10px red;
 }
 button:nth-child(2):hover{
    box-shadow:0px 0px 10px red;
 }









